@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

* {
    transition: 1s ease all;
}

button {
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
}

hr {
    width: 56px;
    height: 3px;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 30px auto;
}

p {
    color: #7D7987;
}

header {
    padding: 25px;
    background: url(../images/banner.PNG);
    background-size: cover;
}

.header-wrapper {
    width: 75%;
    margin: 0 auto;
}

header img {
    width: 160px;
}

.header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

header nav a {
    margin-left: 40px;
    color: white;
    text-decoration: none;
    opacity: 0.5;
    font-weight: 700;
}

header nav a:first-child {
    margin-left: 0;
    opacity: 1;
    color: black;
    font-weight: 700;
}

.banner-wrapper {
    padding: 100px 0px;
    width: 50%;
    margin: 0 auto;
    color: black;
}

.banner-text {
    text-align: center;
    padding: 200px 0px;
}

.banner-text button {
    color: #FFFFFF;
    background-color: #28282B;
}

#welcome {
    padding: 75px 0px;
}

.welcome-wrapper {
    width: 73%;
    margin: 0 auto;
}

.welcome-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.welcome-text {
    max-width: 50%;
}

#welcome img {
    width: 625px;
    border-radius: 35px;
    max-width: 60%;
}

#welcome h1 {
    font-size: 2.4rem;
}

.welcome-details {
    width: 80%;
}

.welcome-btn {
    color: #FFFFFF;
    background-color: #28282B;
}

#gadgets {
    margin-top: 210px;
    background: url(../images/gadgets-bg.png);
    background-size: 50% 55%;
    background-repeat: no-repeat;
    background-position: 0px 260px;
    padding: 10px 0px 0px 0px;
}

.gadgets-wrapper {
    width: 70%;
    margin: 0 auto;
}

.gadgets-text {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.gadgets-text h1 {
    font-size: 1.9rem;
    font-weight: 700;
}

#gadgets p {
    line-height: 28px;
}

.cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
}

#first-row {
    margin-top: 80px;
}

.card {
    -webkit-box-shadow: 0 0 15px 0 #999;
            box-shadow: 0 0 15px 0 #999;
    background-color: #FFFFFF;
    width: 350px;
    height: 330px;
    border-radius: 20px;
    padding: 30px;
}

#g1 {
    width: 150px;
}

#g2 {
    width: 90px;
    position: relative;
    left: 15px;
}

#g3 {
    width: 275px;
    position: relative;
    bottom: 25px;
}

.g3-text {
    position: relative;
    bottom: 60px;
}

.card h1 {
    font-size: 24px;
}

#g4 {
    width: 200px;
}

#g5 {
    width: 190px;
    position: relative;
    bottom: 15px;
    right: 25px;
}

.g5-text {
    position: relative;
    bottom: 30px;
}

#g6 {
    width: 175px;
    position: relative;
    bottom: 5px;
}

.g6-text {
    position: relative;
    bottom: 17px;
}

.btn-container {
    text-align: center;
    margin-top: 60px;
}

.gadgets-btn {
    color: #28282B;
    background-color: #FFFFFF;
    border: 1px solid #28282B;
}

#gadgets-element {
    position: relative;
    bottom: 610px;
    left: 1250px;
    z-index: -1;
}

#services {
    padding: 0px 25px;
}

.services-wrapper {
    width: 75%;
    margin: 0 auto;
}

.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
}

.service img {
    width: 45%;
}

.service-text {
    width: 40%;
}

.second-service {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.service h1 {
    font-size: 2.25rem;
}

.service hr {
    margin: 30px 0px;
}

.service p {
    line-height: 28px;
}

.service button {
    color: #28282B;
    background-color: #FFFFFF;
    border: 2px solid #28282B;
}

#news {
    margin-top: 300px;
    background: url(../images/news-vector.png);
    background-size: 50% 55%;
    background-repeat: no-repeat;
    background-position: 140% 30%;
}

.news-wrapper {
    padding: 0px 25px;
    width: 70%;
    margin: 0 auto;
}

.news-text {
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.5rem;
}

.news-card {
    padding: 0px;
    width: 415px;
    height: 550px;
    overflow: hidden;
}

#news .card-info {
    padding: 0px 50px 40px 30px;
}

.news-card img {
    width: 100%;
    height: 265px;
}

.card-info p {
    margin-bottom: 18px;
    line-height: 28px;
}

.card-info a {
    text-decoration: none;
    color: #4089ED;
}

#second-link {
    position: relative;
    bottom: 3px;
}

#third-link {
    position: relative;
    bottom: 6px;
}

.news-btn-container {
    margin-top: 70px;
    text-align: center;
}

.news-btn-container button {
    color: #458FF6;
    background-color: #FFFFFF;
    border: 1.5px solid #458FF6;
}

#news-element {
    position: relative;
    bottom: 720px;
    right: 50px;
    z-index: -1;
}

#testimonials {
    padding: 25px;
}

.video-wrapper {
    width: 65%;
    margin: 0 auto;
}

.video-container {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.70)), to(rgba(0, 0, 0, 0.70))), url(../images/video-bg.png);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../images/video-bg.png);
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../images/video-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 475px;
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.video-element {
    text-align: center;
}

.video-element h1 {
    position: relative;
    bottom: 80px;
    font-size: 2.2rem;
    color: white;
}

.play-btn {
    width: 42%;
    margin: 0 auto;
    padding: 20px 60px 20px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid white;
    border-radius: 70px;
    cursor: pointer;
}

#videoplay-text {
    margin-left: 25px;
    color: white;
}

.video-vector {
    position: relative;
}

.video-vector > * {
    position: absolute;
    width: 150px;
}

.top-vector {
    bottom: 260px; 
    left: 230px; 
}

.bottom-vector {
    top: 40px;
    right: 950px;
}

#contact {
    margin-top: 60px;
}

.contact-wrapper {
    width: 70%;
    margin: 0 auto;
}

.contact-text {
    text-align: center;
}

.contact-text h1 {
    font-size: 2rem;
}

.contact-form {
    margin-top: 30px;
}

.contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 20px 0 #999;
            box-shadow: 0 0 20px 0 #999;
    width: 45%;
    margin: 0 auto;
    overflow: hidden;
}

.contact-container > * {
    padding: 20px;
}

.input-button {
    width: 35%;
    text-align: center;
    background-color: #4985FF;
    color: white;
    cursor: pointer;
}

.input-container, .input-container input {
    border: none;
    outline: none;
}

.input-container {
    width: 65%;
    padding-left: 40px;
}

.input-container input {
    width: 90%;
    font-size: 1.1rem;
}

#footer {
    background: -webkit-gradient(linear, left top, right top, from(rgba(29,121,255,1)), to(rgba(103,195,243,1)));
    background: -o-linear-gradient(left, rgba(29,121,255,1) 0%, rgba(103,195,243,1) 100%);
    background: linear-gradient(90deg, rgba(29,121,255,1) 0%, rgba(103,195,243,1) 100%);
    padding: 130px 50px;
    margin-top: 150px;
}

.footer-wrapper {
    width: 80%;
    margin: 0 auto;
}

.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.description {
    width: 35%;
}

.description img {
    width: 200px;
}

.description p {
    color: black;
    line-height: 28px;
    font-size: 1.15rem;
}

.links {
    width: 10%;
}

.links ul {
    padding-left: 0px;
}

.links ul li {
    list-style: none;
}

.links h2 {
    color: white;
}

.links ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}

.hidden {
    display: none;
}

.modal-canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55)));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

.modal {
    padding: 25px;
    -webkit-box-shadow: 0 0 20px 0 #999;
            box-shadow: 0 0 20px 0 #999;
}

.modal-close {
    cursor: pointer;
    text-align: right;
    color: white;
}

.modal-video-container {
    margin-top: 30px;
}

.header-bars {
    display: none;
    cursor: pointer;
}

.drop-menu {
    position: fixed;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    background-color: #3F3F3F;
    z-index: 3;
    padding: 20px;
}

.drop-menu-close {
    height: 10%;
    text-align: center;
    cursor: pointer;
}

.drop-menu-flex {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.drop-menu a {
    color: #5A8CAC;
    text-decoration: none;
    font-size: 21px;
}

.primary:hover {
    background-color: #808080;
    box-shadow: 0 0 25px 0 black;
}

.ordinary:hover {
    border: 1px dashed #000099;
    color: #000099;
}

a:hover {
    font-weight: 700;
}

.play-btn:hover {
    transform: scale(1.1);
}

.input-button:hover {
    box-shadow: 0 0 25px 0 #0099ff;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

@media (max-width: 720px) {
    header {
        background-color: #faebd7;
        padding: 40px 45px;
    }

    .header-wrapper {
        width: 100%;
    }

    .header-bars {
        display: inline-block;
    }

    nav {
        display: none;
    }

    .welcome-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .welcome-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #welcome h1 {
        font-size: 1.75rem;
    }

    .cards-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .card {
        margin-bottom: 30px;
    }

    .play-btn {
        width: 55%;
    }

    .contact-container {
        width: 100%;
    }

    .footer-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    footer .links {
        display: none;
    }

    .description {
        text-align: center;
    }
}